.footer{
    background: #0a2240;
    .links{
        li{
            list-style-type: none;
            line-height: 40px;
           
        }

    }
}
.footer-end {
    background-color: #ec068e;
}