@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.header p {
  margin-bottom: 0px;
}
.header__top {
  background-color: #f1f1f1;
}
.header__middle h3 {
  font-family: "Merriweather", serif;
}
.header__news {
  background-color: #ec068e;
  color: #f1f1f1;
}

.navbar {
  background: #0a2240;
}
.navbar li.nav-item a.nav-link {
  color: #fff;
  padding: 10px 30px;
  line-height: 40px;
  border-right: 1px solid #a9126b;
}
.navbar li.nav-item a.nav-link.active {
  background: #a9126b;
  color: #ffffff;
}

.slider {
  height: 400px;
  position: relative;
}
.slider img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.slider__content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate -50%, 0;
}
.slider__content--text {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background: rgba(38, 50, 75, 0.7);
  color: #fff;
  padding: 15px;
}
.slider__content--more a {
  color: #fff;
  padding: 8px 20px;
  text-decoration: none;
  display: inline-block;
  background-color: #ec068e;
}

.news {
  background-color: #f1f1f1;
}
.news__content {
  background-color: #fff;
  border: 1px solid #e9edf8;
  border-bottom: 4px solid #ec068e;
  box-shadow: 0 0 1px rgba(38, 50, 75, 0.06), 2px 2px 2px rgba(38, 50, 75, 0.05), 4px 4px 6px rgba(38, 50, 75, 0.05), 0 1px 0 #e0e5f5 inset;
}
.news__content img {
  width: 100%;
}
.news__content--text {
  padding: 20px;
}
.news__content--text h2 {
  font-family: "Merriweather", serif;
  font-size: 24px;
  font-weight: 600;
}

.banner {
  background-color: #f1f1f1;
  position: relative;
}
.banner img {
  width: 100%;
}
.banner__details {
  position: relative;
  display: flex;
  align-items: center;
}
.banner__content {
  position: absolute;
  left: 5%;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background: rgba(38, 50, 75, 0.7);
  color: #fff;
  padding: 30px;
}

.events {
  background-color: #f1f1f1;
}

.footer {
  background: #0a2240;
}
.footer .links li {
  list-style-type: none;
  line-height: 40px;
}

.footer-end {
  background-color: #ec068e;
}

body {
  font-family: "Roboto", sans-serif;
}

.btn-learn-more {
  color: #fff;
  padding: 8px 20px;
  text-decoration: none;
  display: inline-block;
  background-color: #ec068e;
}

.table-pink {
  --bs-table-color: #fff;
  --bs-table-bg: #ec068e;
  --bs-table-border-color: #ec068e;
  --bs-table-striped-bg: #ec068e;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #ec068e;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #ec068e;
  --bs-table-hover-color: #fff;
  border-color: #ec068e;
}

.custom-pink {
  filter: brightness(0) saturate(100%) invert(21%) sepia(89%) saturate(6841%) hue-rotate(308deg) brightness(97%) contrast(101%);
}

.disaster {
  background-color: #f1f1f1;
}
.disaster .nav-pills .nav-link.active,
.disaster .nav-pills .show > .nav-link {
  color: #ec068e !important;
  background-color: #ffffff !important;
  border-left: 4px solid #ec008b !important;
  border-radius: 0px !important;
}
.disaster .nav-pills .nav-link.active h4,
.disaster .nav-pills .show > .nav-link h4 {
  color: #ec068e !important;
}
.disaster .nav-pills .nav-link.active p,
.disaster .nav-pills .show > .nav-link p {
  color: #ec068e !important;
}
.disaster .nav-pills .nav-link {
  width: 100%;
  margin-bottom: 16px;
  border-left: 4px solid #fff !important;
  padding-left: 30px;
}
.disaster .nav-custom {
  width: 300px !important;
  border-right: 1px solid #e7e7e7;
  align-items: start;
}
.disaster .nav-custom h4 {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
  font-size: 18px;
  font-family: "Merriweather", serif;
  color: black;
}
.disaster .nav-custom p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-bottom: 0px;
  color: black;
}

.section-title h1 {
  font-family: "Merriweather", serif;
  font-size: 30px;
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */